*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 0;
    width: 100%;
    background-color: white;
}
.price{
    position: absolute;
width: 425px;
height: 56px;
left: 84px;
top: 49px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;
}
hr{
    position: absolute;
width: 1721.06px;
height: 0px;
left: 84px;
top: 105px;

border: 1px solid #000000;
}
.img1{
    position: absolute;
width: 1745px;
height: 691.4px;
left: 73px;
top: 151px;
}
.img2{
    position: absolute;
width: 1746px;
height: 489px;
left: 73px;
top: 838px;
}
.first-mail{
    position: absolute;
width: 1752px;
height: 77px;
left: 74px;
top: 1435px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;

color: #0A4EFF;
}
.buy-akk{
    position: absolute;
width: 1756px;
height: 103px;
left: 95px;
top: 1543px;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 37px;

color: #FF0000;
}